/*  Reset CSS to default    */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; /*For scrolling anchor*/
}

/*  Initilize body's font & color   */
body {
  font-family: "Open Sans", sans-serif;
  color: #2a2f23;
}

.book-container{
  width: 100%;
  margin: auto;
  background: #ecebbd;
  padding: 20px;
}

/* Start product */

 /* List SP -----------------------------*/

 .element_gifts {
  position: relative;
  width: 300px;
  height: 500px;
  margin-bottom: 30px !important;
  margin: 0 10px;
  transition: 0.2s linear;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 15px;
  background-color: #ecebbd;
  border-radius: 5px;
  border: none;
}

.element_gifts img {
  width: 100%;
  border-radius: 5px ;
  padding: 10px;
  margin-top: 10px;
}

.element_gifts p {
  font-family: "Open Sans", sans-serif;
  font-size: small ;
}
  
.element_gifts:hover {
  box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3),
  0px 15px 12px rgba(0, 0, 0, 0.22);
  transform: translateY(-5px);
}

.img-modal{
  margin-top: 20px;
  width: 100%; 
  height: 450px;
  padding: 5px;
}
  
h5 {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}
  
.product-layout {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  transition: 0.4s;
  justify-content: center;
}
  
#close { 
  padding: 10px 25px;
  font-family: "Open Sans", sans-serif;
  background-color: #579f66;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 15px;
  transition-duration: 0.4s;
}
  
#close:hover{
  background-color: #cd7577;
  color: white;
}

/* product */
.card {
  padding: 0 10px;
  border: none;
}

.card img {
  width: 100%;
  height: 300px;
  padding: 10px;
}

.card-body {
  height: 168px;
  padding: 5px;
}
#header-refe{
  display: flex;
  justify-content: space-between;
}
#header-refe p{
  max-width: 1200px;
  width: 100%;
  margin-left: 120px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #579f66;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
}
#formSearch{
  display: flex;
  /* justify-content: space-between; */
  /* margin-right: 100px; */
}
#header-refe #search{
  padding: 0 15px;
  height: 45px;
  width: 500px;
  border-radius: 10px;
  margin-top: 30px;
  margin-right: 165px;
  
}

.btn{
  text-decoration: none;
  list-style: none;
  font-size: x-large;
  position: relative;
  margin-left: 510px;
  border-radius:10px ;
  margin-top: 28px;
  padding: 2px 12px;
  height: 48px;
  border: 2px solid;
}
